{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    <title>CRUD Belezasys</title>    

    <style>
        .modal {


        }
        .modal-content {

        }

        .list-group-item:hover {
            background-color: rgba(59, 58, 58, 0.131)!important;
        }

        #sidebar {
          background-color: blue;
          height: 100vh;
          align-content: flex-start;
        }


    </style>
    <script src="https://kit.fontawesome.com/c194a9b594.js" crossorigin="anonymous"></script>
</head>
<body>


    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 ">Belezasys</span>
         </div>
    </nav>


    <div class="container-fluid">

      <div class="row">

        <div class="col-md-2" id="sidebar">
          <ul class="list-group list-group-flush ">
            <li class="list-group-item"><i class="fa-solid fa-cart-plus fa-xl"></i>Dashboard</li>
            <li class="list-group-item">Pessoas</li>
            <li class="list-group-item">Produtos</li>
            <li class="list-group-item">Serviços</li>
            <li class="list-group-item">Relatórios</li>
            <li class="list-group-item">...</li>
          </ul>
        </div>

        <div class="col-md-10">
          {% block content %} {% endblock %}
        </div>

      </div>
    </div>


{% bootstrap_javascript jquery='full'%}
</body>
</html>